<h1>Log In Below:</h1>

<form action="/sessions" method="post">
    Email: <p><input type="text" name="email"></p>
    Password: <p><input type="text" name="password"></p>
    <input type="submit" value="Log In">
</form>