<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    Name: <p><input type="text" name="name"></p>
    Email: <p><input type="text" name="email"></p>
    Password: <p><input type="text" name="password"></p>
    <input type="submit" value="Sign Up">
</form>
